* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

/* Navbar */
nav {
    display: flex;
    background-color: whitesmoke;
    justify-content: space-around;
    padding: 10px 0;
    colo
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}